name: CI

on:
  push:
    branches:
      - master
      - 'release/*'
  pull_request:
    branches:
      - master
      - 'release/*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  call-build-wheels:
    strategy:
      matrix:
        rocm-version: ["6.4.1"]
    uses: ./.github/workflows/build-wheels.yml
    with:
      # TODO: Add back Python 3.13 when we're ready to move to a more recent version of XLA. 3.13
      #       fails with a complaint abou the pipes module.
      python-versions: "3.10,3.12"
      rocm-version: ${{ matrix.rocm-version }}
  call-build-docker:
    needs: call-build-wheels
    strategy:
      matrix:
        rocm-version: ["6.4.1"]
    uses: ./.github/workflows/build-docker.yml
    with:
      rocm-version: ${{ matrix.rocm-version }}
  run-python-unit-tests:
    needs: call-build-docker
    runs-on: mi-250
    strategy:
      matrix:
        rocm-version: ["6.4.1"]
    steps:
      - name: Change owners for cleanup
        run: |
          docker run --rm -v "./:/rocm-jax" ubuntu /bin/bash -c "chown -R $UID /rocm-jax/* || true"
      - name: Checkout plugin repo
        uses: actions/checkout@v4
      - name: Checkout JAX repo
        uses: actions/checkout@v4
        with:
          # TODO: Load the ref from a file that sets the min and max JAX version
          # TODO: Change the repo and ref once we figure out how exactly we're going to
          #       manage tests
          repository: rocm/jax
          ref: rocm-jaxlib-v0.6.0
          path: jax
      - name: Run tests
        env:
          GPU_COUNT: "8"
          GFX: "gfx90a"
          JAX_SKIP_SLOW_TESTS: "1"
          ROCM_VERSION: ${{ matrix.rocm-version }}
        # TODO: Add the tests/linalg_test.py test back once we fix the XLAClient thing.
        run: |
          python3 build/ci_build test \
            "ghcr.io/rocm/jax-ubu22.rocm${ROCM_VERSION//.}:${GITHUB_SHA}" \
            --test-cmd "pytest tests/core_test.py"

